body {
  margin: 0;
  background-color: #B094FE;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  width: 390px;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  margin-left:auto;
  margin-right:auto;
  
}

.navBar-Content{
  height: 336px;
  width: 390px;
  background: #1B0A31;
  box-shadow: -40px 60px 150px rgba(59, 38, 123, 0.7);
  border-top-right-radius: 46px;
  border-top-left-radius: 46px;
  padding-left: 18px;
  padding-right:18px;
  padding-top:17px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  border-color:#FF61C0B8;
  border-style: solid;
  border-width: 1px;
}

.notification_bar{
  display: flex;
  flex-direction: row;
  width:375px;
  height: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

#signal-img{
  width: 21px;
  height: 14px;
  margin-right:4px;
}
#figma-word{
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.05px;
  color: #FFFFFF;
  margin-top:0;
  margin-right:4px;
}
#wifi-img{
  width: 15px;
  height: 14px;
  margin-right:81px;
}

#time-word{

  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  margin-top: 0;
  margin-right:67px;
}
#alarm-img{
  width: 14px;
  height: 14px;
  margin-right:1px;
}
#bluetooth-img{
  width: 14px;
  height: 14px;
  margin-top:0;
}
#battery-percentage{
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #FFFFFF;
  margin-top: 0;
  margin-right:3px;
}
#battery-img{
  width: 26.5px;
  height: 11.5px;
  margin-top:3px;
}
.picture-content{
  width:387px;
  height: 186px;
  margin-top: 16px;
  background: linear-gradient(0.98deg, rgba(167, 213, 255, 0.85) -3.26%, rgba(196, 237, 255, 0.76) -3.24%, rgba(50, 169, 255, 0.83) 173.31%);
  border-radius: 17px;
}
#snowman-img{
  width: 198px;
  height: 187px;
  margin-top: 8px;
}
#main-topic{
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 16px;
  letter-spacing: -0.0043em;
  color: #FFFFFF;
  margin-top:0;
  margin-left:0;
  text-align: left;
  margin-top:20px;
}

.buttons-container{
  display:flex;
  flex-direction: row;
  margin-top:0px;
  height:35px;
  width: auto;
  gap:18px;
}
.button-content{
  margin-top:0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: -0.0043em;
  color: rgba(255, 255, 255, 0.61);
  background: rgba(137, 137, 137, 0.19);
  border-radius: 36px;
  border:1px;
  height:25px;
  border-style:solid;
  padding-top:5px;
  border-color:#FF61C01F;

}
#dif-border{
 border-color:#FF61C0B8;
 width:50px;
 
}
#pr{
  width: 101px;
}
#ca{
  width: 94px;
}
#st{
  width: 120px;
}

main{
  width: 390px;
  height:508px;
  background: #1B0A31;
  box-shadow: -40px 60px 150px rgba(59, 38, 123, 0.7);
  margin-top:0px;
  padding-left: 18px;
  padding-right: 18px;
  border-bottom-left-radius: 46px;
  border-bottom-right-radius: 46px;
  border-color:#FF61C0B8; ;
  border-style:solid;
  border-width:1px;
  display: flex;
  flex-direction: column;
  
}
.list-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.list-content{
  display: flex;
  flex-direction: row;
  margin-top:21px;
  width:354px;
  height:61px;
  background: linear-gradient(89.95deg, rgba(182, 182, 182, 0.2) 1.8%, rgba(67, 66, 90, 0) 105.69%);
  filter: drop-shadow(0px 1px 0px #FFFFFF);
  backdrop-filter: blur(25px);
  border-radius: 14px;
}

.list-word{
  font-family:cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: -0.0043em;
  color: #FFFFFF;
  margin-top: 23px;
  margin-bottom: 25px;
  margin-left:30px;
  
}

#delete-img{
  height: 26px;
  width:26px;
  margin-top:18px;
  margin-bottom:17px;
  margin-left:17px;
}
.checkbox{
  margin-top: 23px;
  margin-left: 19px;
  margin-bottom: 22px;
}
#check-id{
  margin-right:135px;
}
#git-id{
  margin-right:123px;
}

#doc-id{
  margin-right:68px;
}
#study-id{
  margin-right:182px;
  text-decoration: line-through;
}
#shop-id{
  margin-right: 160px;
  text-decoration: line-through;
}
#content5, #content4{
  background: linear-gradient(89.95deg, rgba(204, 139, 255, 0.2) 1.8%, rgba(69, 64, 201, 0) 105.69%);
  filter: drop-shadow(0px 1px 0px #FFFFFF);
  backdrop-filter: blur(25px);
  border-radius: 14px;
}
